#banner {
    height: 100px;
    width: auto;
    display: flex;
    margin-right: auto;
}

#banner>img {
    max-height: 100%;
    width: auto;
}

#navbar {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
}

 #navbar>div {
    padding: 25px;
    
}